.collection-item {
  margin: 1rem;
  border-radius: 8px;
  list-style: none;

  & .item-body {
    position: relative;
    padding-bottom: 177.77%;
    width: 100%;
    height: 0;

    & img,
    & .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    & img {
      object-fit: cover;
    }

    & .overlay {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(52, 48, 54, 0.2);
    }

    & button {
      border: none;
      border-radius: 8px;
      background-color: rgba(215, 228, 255, 0.7);
      padding: 0.5rem 1rem;
    }

    &:hover .overlay {
      display: flex;
    }
  }

  & .item-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.9rem;

    & h3 {
      margin-left: 1rem;
    }

    & span {
      text-align: left;
    }
  }
}
