.menu-item {
  overflow: hidden;
  position: relative;
  margin: 0.5rem;
  flex: 1 0 40ch;
  transition: opacity 0.2s ease-out;

  & .background {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform 6s ease-in;
  }

  &:hover {
    opacity: 0.9;
    .background {
      transform: scale(1.1);
    }
  }

  & .frame {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
  }

  & .cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    background-color: hsla(200, 100%, 92%, 0.5);
    padding: 1em;
    text-align: center;

    & h3 {
      font-size: 0.85rem;
      font-weight: bold;
    }

    & span {
      font-size: 0.7rem;
    }
  }
}
